@define-color foreground #727294;
@define-color foreground-lighter #9292b3;
@define-color background #241f31;
@define-color background-darker #1e192a;

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono';
  font-size: 16px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0px 6px;
  /* margin: 0 1.5px; */
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#tray,
#network,
#bluetooth,
#pulseaudio,
#custom-expand-icon {
  margin-left: 20px;
}

tooltip {
  padding: 2px;
  border: 1px solid @foreground-lighter;
  border-radius: 4px;
  background-color: @background-darker;
  color: @foreground-lighter;
}

.hidden {
  opacity: 0;
}

